
<form {{action 'createInfo' ingredient on='submit'}}>
  {{input placeholder='Add additional info' value=newInfo.additionalInfo}}
  {{!-- value is now bound to the component property --}}
  <button type='submit'>create</button>
</form>
