<h3> Create a new ingredient</h3>
<form {{action 'createIngredient' on='submit'}}>
  {{input placeholder='New Ingredient Name' value=newIngredient.name}}
  {{input placeholder='New Ingredient Note' value=newIngredient.note}}
  {{!-- value is now bound to the component property --}}
  <button type='submit'>Save</button>
</form>
