

<span class="ingredient-info">{{info.additionalInfo}}</span>
<button {{action 'deleteInfo' info}}>delete</button>
{{info-form-edit updateInfo='updateInfo' info=info value=info.additionalInfo}}
{{!-- get it to only show when there are info items present --}}
