{{#if auth.isAuthenticated}}
<li>{{#link-to "ingredients" }}Ingredients{{/link-to}}</li>
{{/if}}

<h1 class='welcome-header'> <span class='welcome'>Welcome</span>
<br> to your Beauty Ingredient Tracker!</h1>
