{{#link-to 'ingredients'}} Back to ingredients {{/link-to}}

<h1 class='ingredient-name'>{{model.name}}</h1>
<h3 class='ingredient-note'>{{model.note}}</h3>

<div class='info-list'>{{ingredient-list ingredient=model createInfo='createInfo' deleteInfo='deleteInfo' updateInfo='updateInfo'}}</div>
