{{#link-to 'index'}} Go home {{/link-to}}

<h2>Beauty Ingredients List</h2>

{{ingredient-form createIngredient='createIngredient'}}

{{#each model as |ingredient|}}

<h3>{{#link-to "ingredient" ingredient}} {{ingredient.name}} {{/link-to}}</h3>

{{/each}}
