{{#link-to 'index'}} Go home {{/link-to}}
<div class='ingredients'>
<h1 id='beauty'>Beauty Ingredients List</h1>

{{#if ingredient.editable}}

{{ingredient-form createIngredient='createIngredient'}}

{{/if}}

{{#each model as |ingredient|}}

<h3>{{#link-to "ingredient" ingredient}} {{ingredient.name}} {{/link-to}}</h3>

{{/each}}

</div>
